<div class="container">
  <h1 class="viewPokemon">{{nickname}}
    <button class="saveOne" data-id={{id}}>Save Edits</button>
  </h1>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Sprite</th>
        <th>Pokemon</th>
        <th>PokeDex ID</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <th>Ability</th>
        <th>On Team:</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img src="https://img.pokemondb.net/artwork/vector/{{pokemonName}}.png" alt="picture of {{pokemonName}}"></a></td>
        <td>
          <label class="field">
            <label class="label viewPokemon">{{nickname}}</label>
            <input type="text" class="input nickname" placeholder="{{nickname}}">
          </label>
        </td>
        <td>{{pokedexId}}</td>
        <td>{{pokeType1}}</td>
        <td>{{pokeType2}}</td>
        <td>{{abilities}}</td>
        <td>{{#each Teams}}{{teamName}}<br>{{/each}}</td>
        <td>
          <button class="deletePokemon" data-id={{id}}>Delete Pokemon</button>
          <button class="removeTeamAssociations" data-id={{id}}>Clear Linked Teams</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>