<div class="container">
  {{#each teams}}
  <h1 class="viewPokemon">{{teamName}}
    <button class="editTeam" data-id={{id}}>Edit Team Name</button>
    <button class="removePokemonAssociations" data-id={{id}}>Clear Linked Pokemon</button>
  </h1>
  <div class="column is-8">
  <table class="table is-full-width is-bordered">
    <thead>
      <tr>
        <th>Sprite</th>
        <th>Pokemon</th>
        <th>PokeDex ID</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <th>Ability</th>
        <td>
          <button class="addPokemonToTeam" data-id={{id}}>Add Pokemon</button>
          <button class="deleteTeam" data-id={{id}}>Delete Team</button>
        </td>
      </tr>
    </thead>
    <tbody>
      {{#each Pokemons}}
      <tr>
        <td><a class="editOne" data-id={{id}}><img src="https://img.pokemondb.net/artwork/vector/{{pokemonName}}.png" alt="picture of {{pokemonName}}"></a></td>
        <td>{{nickname}}</td>
        <td>{{pokedexId}}</td>
        <td>{{pokeType1}}</td>
        <td>{{pokeType2}}</td>
        <td>{{abilities}}</td>
        <td>
          <button class="editOne" data-id={{id}}>Edit Pokemon</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
  {{/each}}
</div>